body.toplevel_page_gddysec,
body.godaddy-security_page_gddysec_settings,
body.godaddy-security_page_gddysec_firewall,
body.godaddy-security_page_gddysec_hardening {
    background: #fff;
}
.gddysec-container {
    margin: 0;
    margin-left: 9px;
    margin-right: 28px;
    margin-top: 10px;
}
.gddysec-container *,
.gddysec-container::after,
.gddysec-container::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.gddysec-clearfix::after,
.gddysec-clearfix::before {
    content: ' ';
    display: table;
}
.gddysec-clearfix::after {
    clear: both;
}
.gddysec-pull-left {
    float: left;
}
.gddysec-pull-right {
    float: right;
}
.gddysec-hidden {
    display: none !important;
}
.gddysec-monospace {
    font-family: Menlo, Monaco, monospace, serif;
}
.gddysec-wraptext {
    word-break: break-all;
}
.gddysec-container select {
    margin: 0;
    padding: 0;
    height: 30px;
    line-height: normal;
}
.gddysec-container input[type='text'] {
    margin: 0;
    padding: 0 7px;
    line-height: 28px;
}
.gddysec-container fieldset {
    margin-bottom: 10px;
}
.gddysec-container fieldset:last-child {
    margin-bottom: 0;
}
.gddysec-container fieldset label {
    display: inline-block;
    text-transform: uppercase;
    line-height: 30px;
    font-weight: 700;
    cursor: initial;
}
.gddysec-container fieldset span {
    line-height: 30px;
    display: inline-block;
}
.gddysec-container fieldset span,
.gddysec-container fieldset label,
.gddysec-container fieldset select,
.gddysec-container fieldset button,
.gddysec-container fieldset input[type='text'],
.gddysec-container fieldset input[type='checkbox'],
.wp-core-ui .gddysec-container fieldset .button,
.wp-core-ui .gddysec-container fieldset .button-primary,
.wp-core-ui .gddysec-container fieldset .button-secondary {
    margin: 0;
    float: left;
    margin-left: 5px;
}
.gddysec-container fieldset label {
    margin-left: 0;
}
.gddysec-container fieldset input[type='checkbox'] {
    margin-top: 7px;
    margin-bottom: 7px;
}
.gddysec-container .gddysec-full-textarea {
    width: 100%;
    min-height: 300px;
    background: #efefef;
    word-break: break-all;
    padding: 20px;
    margin: 0;
}
.gddysec-header {
    margin-top: 4px;
}
.gddysec-header .gddysec-logo {
    display: inline-block;
    margin-left: 10px;
    margin-right: 8px;
    text-decoration: none;
}
.gddysec-header .gddysec-logo img {
    height: 60px;
}
.gddysec-header .gddysec-subtitle {
    color: #727376;
    font-size: 26px;
    font-weight: 200;
    margin-top: 32px;
}
.gddysec-header .gddysec-version {
    color: #727376;
    font-size: 11px;
    margin-left: 3px;
    margin-top: 38px;
}
.gddysec-header .gddysec-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.gddysec-header .gddysec-navbar li {
    float: left;
    margin-bottom: 0;
    margin-left: 5px;
}
.gddysec-container .button {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: none;
    border-color: transparent;
    height: auto;
    line-height: normal;
    border-radius: 3px;
    box-shadow: none;
    text-shadow: none;
    padding: 6px 20px;
}
.gddysec-container .button-primary {
    background: #00a63f;
    border-color: #00a63f;
    color: #fff;
}
.gddysec-container .button-secondary {
    background: transparent;
    border-color: #00a63f;
    color: #00a63f;
}
.wp-core-ui .gddysec-container .button-primary:focus,
.wp-core-ui .gddysec-container .button-primary:hover,
.wp-core-ui .gddysec-container .button-primary:active,
.wp-core-ui .gddysec-container .button-primary:visited,
.wp-core-ui .gddysec-container .button-primary:disabled,
.wp-core-ui .gddysec-container .button-primary[disabled] {
    color: #fff;
    background: #00a63f;
    border-color: #00a63f;
    text-shadow: none !important;
    box-shadow: none !important;
}
.wp-core-ui .gddysec-container .button-primary:disabled,
.wp-core-ui .gddysec-container .button-primary[disabled] {
    color: #a0a5aa !important;
    border-color: #ddd !important;
    background: #f7f7f7 !important;
}
.gddysec-container .gddysec-register-site-button {
    background: #65666a;
    border-color: #65666a;
}
.wp-core-ui .gddysec-container .gddysec-register-site-button:focus,
.wp-core-ui .gddysec-container .gddysec-register-site-button:hover,
.wp-core-ui .gddysec-container .gddysec-register-site-button:active {
    background: #5e5f62;
    border-color: #5e5f62;
}
.gddysec-container .gddysec-register-site-modal fieldset label {
    min-width: 160px;
}
.gddysec-content {
    /* plugin content */
}
.gddysec-footer {
    color: #555d66;
    font-size: 11px;
    text-align: center;
    margin-top: 30px;
}
.gddysec-panel {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 8px #dedede;
    border: 1px solid #dedede;
    margin-top: 30px;
    padding: 30px;
}
.gddysec-panel .gddysec-title {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0.1px;
    margin: 0;
    margin-bottom: 24px;
}
.gddysec-panel p {
    margin: 0;
    margin-bottom: 10px;
}
.gddysec-panel p:last-child {
    margin-bottom: 0;
}
.gddysec-panel hr {
    margin: 20px 0;
}
.gddysec-tooltip {
    position: relative;
}
.gddysec-tooltip-object {
    width: 300px;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    line-height: normal;
    border-radius: 3px;
    padding: 20px;
    font-size: 12px;
    color: #fff;
    z-index: 10;
}
.gddysec-tooltip-object::before {
    left: 50%;
    content: ' ';
    position: absolute;
    border: 10px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.9);
    border-bottom: none;
    margin-left: -10px;
    bottom: -10px;
}
.gddysec-overlay {
    background: #666;
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9990;
}
.gddysec-modal {
    left: 15%;
    position: absolute;
    top: 25px;
    width: 65%;
    z-index: 9990;
}
.gddysec-modal-outside {
    background: #fff;
    border-top: 10px solid #00a63f;
    left: 0;
    position: relative;
}
.gddysec-modal-header,
.gddysec-modal-inside {
    padding: 30px;
}
.gddysec-modal-header {
    padding-bottom: 0;
}
.gddysec-modal-inside {
    padding-top: 10px;
}
.gddysec-modal-inside p {
    margin-top: 0;
}
.gddysec-modal-header .gddysec-modal-title {
    border-bottom: 0;
    font-size: 30px;
    line-height: 44px;
    margin: 0;
    padding: 0;
    font-weight: 800;
    letter-spacing: 0.1px;
}
.gddysec-modal-header .gddysec-modal-close {
    background: #00a63f;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 31px;
    padding: 0 10px;
    position: absolute;
    right: -15px;
    text-decoration: none;
    top: -21px;
}
.gddysec-tabs {
    margin-top: 30px;
}
.gddysec-tabs .gddysec-tabs-buttons {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
}
.gddysec-tabs .gddysec-tabs-buttons li {
    float: left;
    margin: 0;
}
.gddysec-tabs .gddysec-tabs-buttons li:first-child {
    margin-left: 12px;
}
.gddysec-tabs .gddysec-tabs-buttons li:last-child a {
    border-right: 1px solid #bebebe;
}
.gddysec-tabs .gddysec-tabs-buttons a {
    background: #f3f3f3;
    border-bottom: 0;
    border-left: 1px solid #bebebe;
    border-right: 0;
    border-top: 1px solid #bebebe;
    color: #747474;
    display: inline-block;
    font-size: 14px;
    font-weight: 900;
    line-height: 48px;
    padding: 0 20px;
    text-decoration: none;
}
.gddysec-tabs .gddysec-tabs-buttons .gddysec-tab-active {
    background: #fff;
    border-bottom: 0;
    border-left: 1px solid #23282e;
    border-right: 1px solid #23282e;
    border-top: 4px solid #00a63f;
    color: #000;
    line-height: 45px;
}
.gddysec-tabs .gddysec-tabs-buttons a:hover {
    background: #fff;
}
.gddysec-pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.gddysec-pagination > li {
    display: inline;
}
.gddysec-pagination > li > a,
.gddysec-pagination > li > span {
    background: #fff;
    border: 1px solid #ddd;
    color: #428bca;
    float: left;
    line-height: 1.42857143;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.gddysec-pagination > li:first-child > a,
.gddysec-pagination > li:first-child > span {
    border-radius: 4px 0 0 4px;
    margin-left: 0;
}
.gddysec-pagination > li:last-child > a,
.gddysec-pagination > li:last-child > span {
    border-radius: 0 4px 4px 0;
}
.gddysec-pagination > li > a.gddysec-pagination-active,
.gddysec-pagination > li > a:hover {
    background: #0074a2;
    color: #fff;
}
.wrap div.gddysec-alert {
    margin: 0;
    position: relative;
}
.wrap .gddysec-alert > .close {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    text-decoration: none;
    right: 20px;
    top: 20px;
}
.wrap .gddysec-alert.info,
.wrap .gddysec-alert.error,
.wrap .gddysec-alert.success,
.wrap .gddysec-alert.updated,
.gddysec-inline-alert,
.gddysec-inline-alert-info,
.gddysec-inline-alert-error,
.gddysec-inline-alert-success {
    background: #ddd;
    border: 0;
    box-shadow: none;
    color: #fff;
    padding: 0;
}
.wrap .gddysec-alert.info,
.gddysec-inline-alert-info {
    background: #0684e1;
}
.wrap .gddysec-alert.error,
.gddysec-inline-alert-error {
    background: #dd3d36;
}
.wrap .gddysec-alert.success,
.wrap .gddysec-alert.updated,
.gddysec-inline-alert-success {
    background: #00a63f;
}
.wrap .gddysec-alert.info,
.wrap .gddysec-alert.error,
.wrap .gddysec-alert.success,
.wrap .gddysec-alert.updated,
.gddysec-inline-alert,
.gddysec-inline-alert-info,
.gddysec-inline-alert-error,
.gddysec-inline-alert-success,
.gddysec-inline-alert-updated {
    margin-bottom: 20px;
}
.wrap .gddysec-alert.info:last-child,
.wrap .gddysec-alert.error:last-child,
.wrap .gddysec-alert.success:last-child,
.wrap .gddysec-alert.updated:last-child,
.gddysec-inline-alert:last-child,
.gddysec-inline-alert-info:last-child,
.gddysec-inline-alert-error:last-child,
.gddysec-inline-alert-success:last-child,
.gddysec-inline-alert-updated:last-child {
    margin-bottom: 0;
}
.wrap .gddysec-alert.info a,
.wrap .gddysec-alert.error a,
.wrap .gddysec-alert.success a,
.wrap .gddysec-alert.updated a,
.gddysec-inline-alert a,
.gddysec-inline-alert-info a,
.gddysec-inline-alert-error a,
.gddysec-inline-alert-success a,
.gddysec-inline-alert-updated a {
    color: #fff;
    text-decoration: none;
}
.wrap .gddysec-alert.info p,
.wrap .gddysec-alert.error p,
.wrap .gddysec-alert.success p,
.wrap .gddysec-alert.updated p,
.gddysec-inline-alert p,
.gddysec-inline-alert-info p,
.gddysec-inline-alert-error p,
.gddysec-inline-alert-success p {
    margin: 0;
    color: #fff;
    padding: 20px;
    padding-bottom: 0;
}
.wrap .gddysec-alert.info p a,
.wrap .gddysec-alert.error p a,
.wrap .gddysec-alert.success p a,
.wrap .gddysec-alert.updated p a,
.gddysec-inline-alert p a,
.gddysec-inline-alert-info p a,
.gddysec-inline-alert-error p a,
.gddysec-inline-alert-success p a {
    text-decoration: underline;
}
.wrap .gddysec-alert.info p:last-child,
.wrap .gddysec-alert.error p:last-child,
.wrap .gddysec-alert.success p:last-child,
.wrap .gddysec-alert.updated p:last-child,
.gddysec-inline-alert p:last-child,
.gddysec-inline-alert-info p:last-child,
.gddysec-inline-alert-error p:last-child,
.gddysec-inline-alert-success p:last-child {
    padding-bottom: 20px;
}
.gddysec-hstatus {
    margin: 0;
    padding: 20px;
    position: relative;
    border: 1px solid transparent;
    margin-bottom: 20px;
}
.gddysec-hstatus:last-child {
    margin-bottom: 0;
}
.gddysec-hstatus-0 {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.gddysec-hstatus-0 .button-primary {
    background: #9b2b27;
    border-color: #9b2b27;
}
.wp-core-ui .gddysec-hstatus-0 .button-primary:focus,
.wp-core-ui .gddysec-hstatus-0 .button-primary:hover,
.wp-core-ui .gddysec-hstatus-0 .button-primary:active,
.wp-core-ui .gddysec-hstatus-0 .button-primary:disabled,
.wp-core-ui .gddysec-hstatus-0 .button-primary[disabled] {
    background: #872522;
    border-color: #872522;
}
.gddysec-hstatus-1 {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.gddysec-hstatus-2 {
    background-color: #dee4f2;
    border-color: #ccd0eb;
    color: #4263a9;
}
.gddysec-hstatus-2 .button-primary {
    background: #44709b;
    border-color: #44709b;
}
.wp-core-ui .gddysec-hstatus-2 .button-primary:focus,
.wp-core-ui .gddysec-hstatus-2 .button-primary:hover,
.wp-core-ui .gddysec-hstatus-2 .button-primary:active,
.wp-core-ui .gddysec-hstatus-2 .button-primary:disabled,
.wp-core-ui .gddysec-hstatus-2 .button-primary[disabled] {
    background: #3f6890;
    border-color: #3f6890;
}
.gddysec-hstatus form {
    position: absolute;
    right: 20px;
    top: 14px;
}
.gddysec-flag-bar {
    fill: #fff !important;
}
.gddysec-flag-icon-green path,
.gddysec-auditlog-success path {
    fill: #00a63f;
}
.gddysec-flag-icon-red path,
.gddysec-auditlog-error path {
    fill: #f23924;
}
.gddysec-flag-icon-purple path,
.gddysec-auditlog-debug path {
    fill: #b406dc;
}
.gddysec-flag-icon-orange path,
.gddysec-auditlog-warning path {
    fill: #f2812e;
}
.gddysec-flag-icon-blue path,
.gddysec-auditlog-notice path {
    fill: #4664c5;
}
.gddysec-flag-icon-white path,
.gddysec-auditlog-info path {
    fill: #f3f3f3;
}
.gddysec-flag-icon-black path,
.gddysec-auditlog-critical path {
    fill: #000;
}
.gddysec-integrity-added path {
    fill: #f2f226;
}
.gddysec-integrity-modified path {
    fill: #f29e25;
}
.gddysec-integrity-removed path {
    fill: #f23924;
}
.gddysec-container .gddysec-table {
    margin-bottom: 20px;
}
.gddysec-container .gddysec-table:last-child {
    margin-bottom: 0;
}
.gddysec-container .gddysec-table tbody tr:nth-child(odd) {
    background: #f5f5f5;
}
.gddysec-dashboard-left {
    width: 68%;
    padding-right: 25px;
}
.gddysec-dashboard-right {
    width: 32%;
}
.gddysec-dashboard-left .gddysec-tabs {
    margin-top: 0;
}
.gddysec-dashboard-left .gddysec-tabs-containers {
    margin-top: 30px;
}
.gddysec-integrity .gddysec-integrity-left,
.gddysec-integrity .gddysec-integrity-right {
    width: 50%;
}
.gddysec-integrity .gddysec-integrity-right {
    padding-left: 110px;
}
.gddysec-integrity .gddysec-subtitle {
    margin: 0;
    border-bottom: 1px solid #ddd;
    font-weight: 800;
    margin-bottom: 12px;
    padding-bottom: 11px;
}
.gddysec-integrity hr {
    margin: 20px 0;
}
.gddysec-integrity-correct .gddysec-integrity-right {
    background: url('../images/checkmark.png') no-repeat 25px 30px;
}
.gddysec-integrity-incorrect .gddysec-integrity-right {
    background: url('../images/checkcross.png') no-repeat 25px 30px;
}
.gddysec-integrity-loading .gddysec-integrity-missing {
    height: 147px;
    background: #f8f8f8;
    border: 3px dotted #ddd;
    border-radius: 14px;
}
.gddysec-integrity-correct .gddysec-subtitle {
    color: #00a63f;
}
.gddysec-integrity-incorrect .gddysec-subtitle {
    color: #f33924;
}
.gddysec-integrity-incorrect .gddysec-table .gddysec-tooltip {
    left: 5px;
    position: relative;
    top: 3px;
}
.gddysec-container .gddysec-integrity-diff-utility {
    margin-bottom: 20px;
}
.gddysec-diff-utility-modal .gddysec-modal-inside p {
    margin-bottom: 20px;
}
.gddysec-container .gddysec-diff-content {
    background: #003140;
    font-family: Menlo, Monaco, monospace, serif;
    border: 1px solid #32636c;
    border-radius: 4px;
    font-size: 12px;
    padding: 20px 0;
    margin: 0;
}
.gddysec-container .gddysec-diff-line {
    color: #fff;
    white-space: pre-wrap;
    padding: 0 20px;
    margin: 0;
}
.gddysec-container .gddysec-diff-header {
    color: #999;
}
.gddysec-container .gddysec-diff-minus {
    color: #ff304b;
}
.gddysec-container .gddysec-diff-plus {
    color: #83e600;
}
.gddysec-sitecheck-details {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 0;
    position: relative;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.gddysec-sitecheck-details ul {
    margin: 0;
}
.gddysec-sitecheck-details li {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
}
.gddysec-sitecheck-details .gddysec-details-title {
    display: block;
    font-weight: bold;
}
.gddysec-sitecheck-details .gddysec-details-value {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.gddysec-sitecheck-details .gddysec-pull-left {
    width: 80%;
}
.gddysec-sitecheck-details .gddysec-pull-right {
    width: 20%;
}
.gddysec-sitecheck-list ul {
    margin-top: 20px;
    margin-bottom: 0;
}
.gddysec-sitecheck-list li {
    margin-top: 10px;
    padding-left: 30px;
    margin-bottom: 0;
}
.gddysec-sitecheck-list a {
    font-size: 14px;
    text-decoration: none;
}
.gddysec-sitecheck-list-INFO {
    background: url('../images/checkinfo.png') no-repeat;
}
.gddysec-sitecheck-list-WARN {
    background: url('../images/checkwarn.png') no-repeat;
}
.gddysec-sitecheck-list-NOTICE {
    background: url('../images/checknotice.png') no-repeat;
}
.gddysec-sitecheck-list-INFO a,
.gddysec-sitecheck-list-NOTICE a {
    color: #000;
}
.gddysec-sitecheck-list-WARN a {
    color: #f23924;
    font-weight: bold;
}
.gddysec-sitecheck-footnote {
    color: #989898;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}
.gddysec-sitecheck-footnote a,
.gddysec-sitecheck-footnote p {
    font-size: 11px;
    margin: 0;
}
.gddysec-tag-title {
    color: #fff;
    display: table;
    font-size: 17px;
    font-weight: 900;
    margin: 0;
    padding: 8px 14px;
    position: relative;
    border-radius: 4px;
}
.gddysec-tag-green {
    background-color: #00a63f;
}
.gddysec-tag-red {
    background-color: #f23924;
}
.gddysec-tag-blue {
    background-color: #3922f2;
}
.gddysec-auditlog-date {
    color: #808080;
    padding: 30px 0;
    font-size: 24px;
    font-weight: 200;
    border-bottom: 1px solid #dbdbdb;
}
.gddysec-auditlog-date:first-child {
    padding-top: 0;
}
.gddysec-auditlog-entry {
    padding: 10px 0;
    border-bottom: 1px solid #dbdbdb;
}
.gddysec-auditlog-entry-title,
.gddysec-auditlog-entry-address,
.gddysec-auditlog-entry-extra li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.gddysec-auditlog-entry-time {
    width: 45px;
    color: #808080;
}
.gddysec-auditlog-entry-event {
    width: 28px;
}
.gddysec-auditlog-entry-message {
    width: 64.3111%;
    color: #000;
}
.gddysec-auditlog-entry-title strong {
    font-size: 14px;
    font-weight: 800;
}
.gddysec-auditlog-entry-title span {
    font-size: 14px;
}
.gddysec-auditlog-entry-extra {
    color: #717171;
    font-size: 11px;
}
.gddysec-auditlog-entry-extra ul {
    margin-top: 5px;
}
.gddysec-auditlog-entry-extra li {
    margin-bottom: 0;
}
.gddysec-auditlog-entry-address {
    width: 19.4311%;
    color: #808080;
    text-align: right;
}
.gddysec-auditlog-table .gddysec-pagination-loading {
    line-height: 32px;
    margin-left: 10px;
}
.gddysec-pagination-panel,
.gddysec-auditlog-footer {
    margin-top: 30px;
}
.gddysec-hardening-option {
    margin-bottom: 0;
}
.gddysec-hardening-option .button {
    min-width: 150px;
}
.gddysec-hardening-option > span {
    font-size: 16px;
}
.gddysec-hardening-option .gddysec-hardening-help {
    display: inline-block;
    padding: 8px 0;
    width: 14px;
}
.gddysec-hardening-option .gddysec-hardening-help svg {
    float: left;
}
.gddysec-accesslog-datetime,
.gddysec-accesslog-signature,
.gddysec-accesslog-request,
.gddysec-accesslog-useragent,
.gddysec-accesslog-target,
.gddysec-accesslog-referer {
    margin-left: 24px;
}
.gddysec-accesslog-label {
    font-weight: 700;
}
.gddysec-ipaccess-form,
.gddysec-ipaccess-table {
    margin-top: 20px;
}
.gddysec-ipaccess-table tbody td + td {
    text-align: right;
}
.gddysec-ipaccess-table .gddysec-monospace {
    line-height: 30px;
}
.gddysec-settings-alerts .dashicons-before::before {
    padding-right: 10px;
}
#firewall-clear-cache-auto {
    margin-bottom: 15px;
}
.gddysec-firewall-accesslog {
    word-break: break-all;
}
.rtl .gddysec-header .gddysec-pull-left {
    float: right;
}
.rtl .gddysec-header .gddysec-pull-right {
    float: left;
}
.rtl .gddysec-header .gddysec-navbar li {
    float: right;
}
.rtl .gddysec-tabs .gddysec-tabs-buttons li {
    float: right;
}
.rtl .gddysec-tabs .gddysec-tabs-buttons li:first-child {
    margin-left: 0;
    margin-right: 12px;
}
.rtl .gddysec-tabs .gddysec-tabs-buttons a {
    border-right: 1px solid #dfdfdf;
    border-left: 0;
}
.rtl .gddysec-tabs .gddysec-tabs-buttons li:first-child a {
    border-top-right-radius: 6px;
}
.rtl .gddysec-tabs .gddysec-tabs-buttons li:last-child a {
    border-left: 1px solid #ccc;
    border-top-left-radius: 6px;
}
.rtl .gddysec-hstatus form {
    left: 20px;
    right: initial;
}
.rtl .gddysec-container fieldset span,
.rtl .gddysec-container fieldset label,
.rtl .gddysec-container fieldset select,
.rtl .gddysec-container fieldset button,
.rtl .gddysec-container fieldset input[type='text'],
.rtl .gddysec-container fieldset input[type='checkbox'],
.rtl .wp-core-ui .gddysec-container fieldset .button,
.rtl .wp-core-ui .gddysec-container fieldset .button-primary,
.rtl .wp-core-ui .gddysec-container fieldset .button-secondary {
    float: right !important;
    margin-left: 0;
    margin-right: 5px;
}
.rtl .wrap .gddysec-alert > .close {
    right: initial;
    left: 20px;
}
